.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.anim-previous #image {
  animation: previous-image 0.65s 0.085s;
}
.anim-next #image {
  animation: next-image 0.65s 0.085s;
}
@keyframes previous-text {
  50%,
  55% {
    transform: translate(0%, 390px);
  }
  to {
    transform: translate(0%, 380px);
  }
}

@keyframes previous-top-arrow {
  50% {
    transform: translate(310px, 53px);
  }
}

@keyframes previous-bottom-arrow {
  50% {
    transform: translate(310px, -47px) rotate(180deg);
  }
}

@keyframes previous-image {
  0% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}

@keyframes next-text {
  50%,
  55% {
    transform: translate(0%, -390px);
  }
  to {
    transform: translate(0%, -380px);
  }
}

@keyframes next-top-arrow {
  50% {
    transform: translate(310px, 47px);
  }
}

@keyframes next-bottom-arrow {
  50% {
    transform: translate(310px, -53px) rotate(180deg);
  }
}

@keyframes next-image {
  0% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}

/* Overline From Right */
.get {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: .5s ease;
}

.get::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
width: 100%;
  background-color: #ffc506;
  transition: .5s ease;
}

 

.get:hover::before {
  width: 100%;
}

.get::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: .4s ease;
  z-index: -1;
}

.get:hover::after {
  height: 100%;
 
  color: aliceblue;
}
