@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&display=swap');
html{
  scroll-behavior: smooth;
}
:root {
  --color-primary: #DCFF03;
  --color-secondary: #5200ff;
  --color-body: #18181b;
  --content-background-color: rgb(33,33,33);
  --color-white: #F0F2F6;
  --color-grey: #1F2128;
  --color-grey-ligher: #808191;
  --color-bodys: #acacac;
}
 
  input:-webkit-autofill{
    -webkit-text-fill-color: wheat !important;
 background-color: transparent !important;
    transition: background-color 9999s ease-in-out 0s !important;
}
 
body {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Bai Jamjuree', sans-serif;
  /* background:
  linear-gradient(45deg,
    rgba(245,70,66, 0.55),
    rgba(8,83,156, 0.75)), url(./assets/Images/bgms.jpg); */
  background: url(./assets/Images/bgms.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: content-box;
}

.container {
  width: 1300px;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 90%;
  }
}

.container--relative {
  position: relative;
}

.container--news-list {
  width: 100%;
}

@media only screen and (max-width: 1280px) {
  .container--news-list {
    width: 90%;
  }
}
@media (max-width: 992px){
  .bg-black {
    --bs-bg-opacity: 0.5;
  }
}

.logo-thumbnail {
  padding-right: 32px;
  position: relative;
  margin-right: 17px;
}

.logo-thumbnail img {
  max-height: 60px;
  object-fit: cover;
}

.navbar {
  border-bottom: 1px solid #ffffff2e;
}

.logo-thumbnail::after {
  background: #ffffff66;
  width: 1px;
  height: 36px;
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav-link {
  font-weight: 500;
  padding: 28px 6px;
  font-size: 16px;
  display: block;
  color: white;
  margin: 0 8px;
  border-radius: 3px;
}

.hero {
  display: flex;
  height: 640px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.hero__blocks {
  display: flex;
  margin-top: 43px;
  justify-content: flex-start;
}

.hero__intro {
  width: 100%;
  max-width: 555px;
  flex: 0 0 auto;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 1380px) {
.hero__intro{
  max-width: 452px;
}
}
.mss {
  transform: translateY(0px);
  opacity: 1;
}

.ims {
  background-image: url(./assets/Images/image-18-1-1.png);
  border-bottom: 1px solid black;
}

.imc {
  background-image: url(./assets/Images/landing-rev-img-1.png);
}

.hero__nft-placeholder-img {
  position: absolute;
  width: 703px;
  height: 634px;
  background-position: 60% 40%;
  background-size: 100%;
  background-repeat: no-repeat;
  right: -120px;
  bottom: 0;
}

.block-title-inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1F2128;
}

.image {
  width: 20px;
  height: 16px;
  margin-right: 13px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.block-title-inline h4 {
  color: #f0f2f6;
  letter-spacing: 5.5px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

.hero__intro-title {
  color: #f0f2f6;
  font-size: 46px;
  line-height: 58px;
}

h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}

.hero__intro-title {
  color: #f0f2f6;
  font-size: 46px;
  line-height: 58px;
}

@media only screen and (max-width: 480px) {
  .hero__intro-title {
    font-size: 32px;line-height: 142%;
  }
  p{
    font-size: 14px;
  }
}

@media only screen and (max-width: 320px) {
  .hero__intro-title {
    font-size: 32px;
    line-height: 142%;
  }
}

.hero__intro-cta {
  display: flex;
  margin-top: 36px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

@media only screen and (max-width: 480px) {
  .hero__intro-cta {
    flex-direction: column;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
  }
}

@media only screen and (max-width: 480px) {
  .hero__intro-cta a {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hero__intro-stats {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  grid-column-gap: 56px;
  grid-row-gap: 56px;
}

@media only screen and (max-width: 991px) {
  .hero__intro-stats {
    grid-column-gap: 46px;
    grid-row-gap: 46px;
  }
}

.hero__intro-stats--mt55 {
  margin-top: 55px;
}

@media only screen and (max-width: 480px) {
  .hero__intro-stats {
    margin-top: 36px !important;
    grid-column-gap: 24px;
    grid-row-gap: 20px;
    flex-wrap: wrap;
  }
}

.hero__intro-stats-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.hero__intro-stats-number {
  height: 46px;
  font-size: 36px;
  line-height: 45px;
}

@media only screen and (max-width: 480px) {
  .hero__intro-stats-number {
    font-size: 28px;
    line-height: 126%;
    height: auto;
  }
}

.hero__intro-stats-text {
  margin-top: 2px;
  color: var(--color-white);
  font-size: 14px;
  line-height: 18px;
}

@media only screen and (max-width: 480px) {
  .hero__intro-stats-text {
    font-size: 12px;
    line-height: 126%;
  }
}

.hero__intro-stats-spacer {
  width: 3px;
  height: 26px;
  margin-top: 11px;
  margin-right: 17px;
  background-color: var(--color-primary);
}

.hero__nft-placeholder-img {
  position: absolute;
  width: 703px;
  height: 634px;
  background-position: 60% 40%;
  background-size: 100%;
  background-repeat: no-repeat;
  right: -120px;
  bottom: 0;
}

@media only screen and (max-width: 1280px) {
  .hero__nft-placeholder-img {
    width: 415px;
    height: 634px;
    left: 15px !important;
  }
}
@media only screen and (max-width: 1279px) {
  .hero__nft-placeholder-img {
    width: 515px;
    height: 634px;
    left: 615px !important;
  }
  .ims { 
    border-bottom: none !important;}
}

@media only screen and (max-width: 1000px) {
  .hero__nft-placeholder-img {
    display: none;
  }
}
@media only screen and (max-width: 1290px) {
  .flxend {
    justify-content: flex-start !important;
}
}

.hero__nft-placeholder-img--roadmap {
  background-size: 500px;
  background-position: center;
  right: -90px;
}

.btn.btn--yellow {
  background-color: var(--color-primary);
  color: var(--color-grey);
}

p {
  color: white;
}

.mt--45 {
  margin-top: 35px;
}

.mb--20 {
  margin-bottom: 20px;
}

.mb--40 {
  margin-bottom: 40px;
}

p:not(:last-child) {
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  font-style: normal;
  line-height: 1.4em;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.btn,
.tnp-button {
  transition: all 200ms ease-in-out;
}

.btn {
  display: inline-block;
  margin-bottom: 0px; 
  border-radius: 8px;
  background-color: var(--color-grey-ligher);
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.btn:hover,
.tnp-button:hover {
  opacity: 0.7 !important;
  background-color: var(--color-grey-ligher);
}

.btn.btn--yellow:hover {
  background-color: var(--color-primary);
}

.nft-showcase__item img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flxend {
  justify-content: flex-end ;
}

.lft {
  left: -70px;
  top:55px;
}

.mt--85 {
  margin-top: 85px;

}

.nft-showcase {
  display: flex;
  grid-gap: 26px; 
  justify-content: center;
  align-content: center;
  align-items: center;
}

.nft-showcase {
  display: flex;
  grid-gap: 26px;
}

@media only screen and (max-width: 991px) {
  .nft-showcase {
    grid-gap: 12px;
  }
}

.nft-showcase__col {
  display: flex;
  grid-gap: 36px;
  flex-direction: column;
}

@media only screen and (max-width: 991px) {
  .nft-showcase__col {
    grid-gap: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .nft-showcase__col {
    grid-gap: 6px;
  }
}

.nft-showcase__col--sm-first {
  margin-top: 138px;
}

@media only screen and (max-width: 991px) {
  .nft-showcase__col--sm-first {
    margin-top: 75px;
  }
}

@media only screen and (max-width: 480px) {
  .nft-showcase__col--sm-first {
    margin-top: 35px;
  }
}

.nft-showcase__col--sm-third {
  margin-top: 80px;
}

@media only screen and (max-width: 991px) {
  .nft-showcase__col--sm-third {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 480px) {
  .nft-showcase__col--sm-third {
    margin-top: 15px;
  }
}

.nft-showcase__col--sm {
  max-width: 338px;
}

.nft-showcase__col--l {
  max-width: 473px;
}

.nft-showcase__overlay {
  background-color: rgba(82, 0, 255, 0.7892);
  ;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: var(--color-white);
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: flex-end;
}

@media only screen and (max-width: 991px) {
  .nft-showcase__overlay {
    display: none;
  }
}

.nft-showcase__overlay h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 126.8%;
  margin-bottom: 16px;
}

.nft-showcase__overlay h3:before {
  height: 4px;
  width: 68px;
  background-color: var(--color-primary);
  content: "";
  display: block;
  margin-bottom: 14px;
}

.nft-showcase__overlay a {
  font-size: 14px;
  font-weight: bold;
  line-height: 126.8%;
  color: var(--color-white);
}

.nft-showcase__overlay:hover {
  opacity: 1;
}

.nft-showcase__item {
  border-radius: 20px;
  overflow-y: hidden;
  position: relative;
}

.nft-showcase__item img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nft-showcase__item--row {
  display: flex;
  grid-gap: 32px;
  height: auto !important;
}

@media only screen and (max-width: 991px) {
  .nft-showcase__item--row {
    grid-gap: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .nft-showcase__item--row {
    grid-gap: 6px;
  }
}

.nft-showcase__item--220 {
  width: 100%;
  max-height: 250px;
}

.nft-showcase__item--338 {
  max-height: 380px;
  width: 100%;
}

.nft-showcase__item--473 {
  width: 100%;
  max-height: 533px;
}

.mt--65 {
  margin-top: 75px;
}
.pt{ 
  padding-top: 75px;
  padding-bottom: 78px;
}

.nft-showcase__item--220 {
  width: 100%;
  max-height: 250px;
}

.nft-showcase__item--473 {
  width: 100%;
  max-height: 533px;
}

.nft-showcase__item--row {
  display: flex;
  grid-gap: 32px;
  height: auto !important;
}

.nft-showcase__item {
  border-radius: 20px;
  overflow-y: hidden;
  position: relative;
}

.mt--20 {
  margin-top: 15px;
}

.fsm {
  font-size: 30px;
  line-height: 20px !important;
  font-weight: 300;
}

.mt--95 {
  margin-top: 115px;
}

.section-item {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 100px;
}

.section__head:not(:last-of-type) {
  margin-bottom: 48px;
}

 
.section-item {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 65px;
}

@media only screen and (max-width: 991px) {
  .section-item {
    margin-top: 35px;
  }
}

.marketplace__items {
  display: flex;
  align-items: center;
  grid-column-gap: 13px;
  grid-row-gap: 13px;
  justify-content: space-around;
}

.marketplace__item {
  width: 290px;
  height: 440px;
  border-radius: 12px;
  background-color: var(--content-background-color);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.marketplace__image {
  overflow: hidden;
  height: 300px;
  border-radius: 12px;
  background-color: #34353b;
  position: relative;
  flex-shrink: 0;
}

.marketplace__image img {
  max-width: 100%;
  height: 110%;
  object-fit: cover;  
  transition: 0.75s; 
}

.marketplace__image img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}

.marketplace__meta {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.marketplace__meta-item {
  display: flex;
  padding: 15px;
  align-items: center;
  height: 100%;
}

.marketplace__meta-author {
  display: flex;
  flex-direction: column;
}

.marketplace__meta-title {
  font-size: 16px;
  margin: 0;
  line-height: 138%;
}

.marketplace__meta-title a {
  color: var(--color-white);
  text-decoration: none;
  background-color: transparent;
}

.marketplace_go-to {
  display: flex;
  padding: 20px 15px;
  align-items: center;
  border-style: solid none none;
  border-width: 2px 1px 1px;
  border-color: rgba(255, 255, 255, 0.1);
  margin-top: auto;
}

.marketplace__favs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.marketplace__additional-first {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.marketplace__additional {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
}

.btn--hypercolor { 
  background:linear-gradient(92.73deg, #F3CDF1 5.78%, #EDF5FE 59.1%, #D7FEF5 95.43%);;
  color: black;
  padding: 8px 16px;
  position: relative; 
  outline: none;
  border: 1px solid #b0b0b0; 
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.btn,
.tnp-button {
  transition: all 200ms ease-in-out;
}

.btn--hypercolor:hover {
  color:  #bc2aff;
  opacity: 1 !important;
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  transition-delay: 0.3s;
}
.btn--hypercolor span {
  position: absolute;
 }

.btn--hypercolor span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
 }
 

 .btn--hypercolor:hover span:nth-child(1) {
  left: 100%;
  transition: 0.4s;
  }
  
  .btn--hypercolor span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
  }
  
  .btn--hypercolor:hover span:nth-child(3) {
  right: 100%;
  transition: 0.4s;
  transition-delay: 0.21s;
  }
  
  .btn--hypercolor span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
  }
  
  .btn--hypercolor:hover span:nth-child(2) {
  top: 100%;
  transition: 0.4s;
  transition-delay: 0.07s;
  }
  
  .btn--hypercolor span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
  }
  
  .btn--hypercolor:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.4s;
  transition-delay: 0.02s;
  }
  
  .btn--hypercolor:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
  }
  
  .btn--hypercolor:active span:nth-child(1)
  span:nth-child(2)
  span:nth-child(2)
  span:nth-child(2) {
  transition: none;
  transition-delay: none;
  }
  
.mts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
  margin-top: 50px;
}

.pb-20 {
  padding-bottom: 6%;
}

.marketplace__items {
  display: flex;
  align-items: center;
  grid-column-gap: 13px;
  grid-row-gap: 13px;
}

.marketplace__items--wrap {
  flex-wrap: wrap;
}

@media only screen and (max-width: 1280px) {
  .marketplace__items {
    overflow-x: scroll;
    align-content: unset;
  }
}

.marketplace__items::-webkit-scrollbar {
  width: 2px;
}

.marketplace__items::-webkit-scrollbar-track {
  border-radius: 10px;
  opacity: 0;
}

.marketplace__items::-webkit-scrollbar-thumb {
  border-radius: 10px;
  opacity: 0;
}

.marketplace__items--wrap {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

@media only screen and (max-width: 991px) {
  .section__head:not(:last-of-type) {
    margin-bottom: 15px;
  }
}

.en {
  enable-background: new 0 0 60 60;
}




.abs,
.wrapper h2:after,
.cards .card figcaption,
.cards .card:after,
.news .card figcaption,
.news .card:after,
.news .article figcaption {
  position: absolute;
}

.rel,
strong,
.cards .card,
.news .card,
.news .article {
  position: relative;
}

.fix {
  position: fixed;
}

.dfix {
  display: inline;
}

.dib {
  display: inline-block;
}

.db {
  display: block;
}

.dn {
  display: none;
}

.df,
.cards,
.news {
  display: flex;
  justify-content: center;
  align-content: center;

}

.dif {
  display: inline-flex;
}

.dg {
  display: grid;
}

.dig {
  display: inline-grid;
}

.vm,
.wrapper h2 strong,
.wrapper h2 span {
  vertical-align: middle;
}

.wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper h2 {
  padding: 10px;
  padding-left: 25px;
  color: #ccc;
  text-align: center;
  margin: 0;
}
.wrapper h2
{

  margin-bottom: 3vh !important; 
}
.wrapper h2 strong {
  z-index: 2;
  left: 20px;
  position: relative;
  font-size: 3vw !important;
  padding: 4px 8px;
}

.wrapper h2 span {
  font-size: 0.7em;
  color: #aaa;
  margin-left: 10px;
}

.cards,
.news {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.cards .card,
.news .card {
  margin: 20px;
  width: 180px;
  height: 270px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: 0.3s;
}

.cards .card .ifm,
.news .card  .ifm {
  max-width: 1340px;
  min-height: 100%;
}

.cards .card figcaption,
.news .card figcaption {
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  background: none;
  color: #fff;
  transform: translateY(100%);
  transition: 0.3s;
}

.cards .card:after,
.news .card:after {
  content: '';
  z-index: 10;
  width: 200%;
  height: 100%;
  top: -90%;
  left: -20px;
  opacity: 0.1;
  transform: rotate(45deg);
  background: linear-gradient(to top, transparent, #fff 15%, rgba(255, 255, 255, 0.5));
  transition: 0.3s;
}

.cards .card:hover,
.news .card:hover,
.cards .card:focus,
.news .card:focus,
.cards .card:active,
.news .card:active {
  box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.6);
  transform: translateY(-3px) scale(1.05) rotateX(15deg);
}

.cards .card:hover figcaption,
.news .card:hover figcaption,
.cards .card:focus figcaption,
.news .card:focus figcaption,
.cards .card:active figcaption,
.news .card:active figcaption {
  transform: none;
}

.cards .card:hover:after,
.news .card:hover:after,
.cards .card:focus:after,
.news .card:focus:after,
.cards .card:active:after,
.news .card:active:after {
  transform: rotate(25deg);
  top: -40%;
  opacity: 0.15;
}

.news .article {
  overflow: hidden;
  box-sizing: border-box;
  width: 40vw;
  height: 100%;
  margin: 20px;
}

@media only screen and (max-width: 1000px){
  .flex{
 display: flex;
 flex-direction: column;
  }
}
@media only screen and (max-width: 1000px){
  .news .article{
  width: 50vw !important;
  }
}
@media only screen and (max-width: 700px){
  .news .article{
    width: 60vw!important;
  }
}
.VIEW{
  width: 70vw !important;
}
 
@media only screen and (max-width: 1000px){
  .news .VIEW{
    width: 85vw !important;
  }
}
 
.news .article .ifm {
  width: 100%;
  min-height: 100%;
  transition: 0.2s;
}

.news .article figcaption {
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(51, 51, 51, 0.3);
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: rgba(6, 18, 53, 0.6);
  opacity: 0;
  transform: scale(1.15);
  transition: 0.2s;
}

.news .article figcaption h3 {
  color: #3792e3;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: bold;
}

.news .article:hover  .ifm,
.news .article:focus  .ifm,
.news .article:active  .ifm {
  filter: blur(3px);
  transform: scale(0.97);
}

.news .article:hover figcaption,
.news .article:focus figcaption,
.news .article:active figcaption {
  opacity: 1;
  transform: none;
}
.extra{
  transform: translate(0px, -110px);
  /* transform for seconds at z axis background effect 
  
  transform-origin: 50% 50%;
min-height: 39px;
min-width: 49px;
transform: perspective (600px) translate3d(0px, 2.4988px, 0px);
  */
}
.wltBtn{  
  border-radius: 7px; 
  border: 1px solid rgb(61, 106, 255); 
  text-transform: uppercase;  
  background: transparent;
  color: #fff;
  font-size: 12px;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.wltBtn:hover{
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  opacity:1 !important;
}
.wltBtn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}
.wltBtnbutton::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.wltBtn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}.btnply {
  position: relative;
  width: 11em;
  height: 4em;
  outline: none;
  transition: 0.1s;
  background-color: transparent;
  border: none;
  font-size: 13px;
  font-weight: bold;
  color: #ddebf0;
}

#clip {
  --color: #2761c3;
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 5px double var(--color);
  box-shadow: inset 0px 0px 15px #195480;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.arrow {
  position: absolute;
  transition: 0.2s;
  background-color: #2761c3;
  top: 35%;
  width: 11%;
  height: 30%;
}

#leftArrow {
  left: -13.5%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#rightArrow {
  -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
  left:  110%;;
}

.btnply:hover #rightArrow {
  background-color: #27c39f;
  left: -15%;
  animation: 0.6s ease-in-out both infinite alternate rightArrow8;
}

.btnply:hover #leftArrow {
  background-color: #27c39f;
  left: 112%;
  animation: 0.6s ease-in-out both infinite alternate leftArrow8;
}

.corner {
  position: absolute;
  width: 4em;
  height: 4em;
  background-color: #2761c3;
  box-shadow: inset 1px 1px 8px #2781c3;
  transform: scale(1) rotate(45deg);
  transition: 0.2s;
}

#rightTop {
  top: -1.98em;
  left: 91%;
}

#leftTop {
  top: -1.96em;
  left: -3.0em;
}

#leftBottom {
  top: 2.10em;
  left: -2.15em;
}

#rightBottom {
  top: 45%;
  left: 88%;
}

.btnply:hover #leftTop {
  animation: 0.1s ease-in-out 0.05s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

.btnply:hover #rightTop {
  animation: 0.1s ease-in-out 0.15s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

.btnply:hover #rightBottom {
  animation: 0.1s ease-in-out 0.25s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

.btnply:hover #leftBottom {
  animation: 0.1s ease-in-out 0.35s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

.btnply:hover .corner {
  transform: scale(1.25) rotate(45deg);
}

.btnply:hover #clip {
  animation: 0.2s ease-in-out 0.55s both greenLight8;
  --color: #27c39f;
}

@keyframes changeColor8 {
  from {
    background-color: #2781c3;
  }

  to {
    background-color: #27c39f;
  }
}

@keyframes lightEffect8 {
  from {
    box-shadow: 1px 1px 5px #27c39f;
  }

  to {
    box-shadow: 0 0 2px #27c39f;
  }
}

@keyframes greenLight8 {
  from {
  }

  to {
    box-shadow: inset 0px 0px 32px #27c39f;
  }
}

@keyframes leftArrow8 {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(10px);
  }
}

@keyframes rightArrow8 {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(-10px);
  }
}

 .section__header-title{
  max-width: 720px;
 }
 
 @media only screen and (max-width: 1000px) {
 .section__header-title{
font-size: 22px;
 }
 .mts{
  display: flex;
  flex-direction: column;
 }
 .body .btn{
  margin: 20px; 
  padding: 0.4em 2em !important;
 }
}

 .body .btn {
  margin: 20px; 
  font-size: 1rem;
  padding: 0.8em 2em;
  background-color: #000;
  border: 3px solid #bca6d6;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px #b3b6c8;
}
 
 .body .btn:hover {
  transform: translate(5px, -5px);
}
 
.body .btn{
  opacity: 1 !important;
}
 
.article{
  backdrop-filter: blur(7px);
  background-color: rgba(255, 255, 255, 0.5); 
  border:1px solid white;
  box-shadow: 35px 35px 68px 0px rgba(157, 177, 255, 0.2), inset -8px -8px 16px 0px rgba(157, 177, 255, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
  transition: all 0.3s;
  cursor: pointer;
}
.article:hover{
  box-shadow: 35px 35px 68px 0px rgba(157, 177, 255, 0.5);
}
.article:active{
  transform: scale(0.95);
  border: 1px solid blue;
}
.vidbg{
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
}
 
 /*bg*/
/*txt*/
/*success*/
.bstn {
  display: flex;
  justify-content: space-around;
  top: 20px;
  left: 20px;
}

.bstn button {
  width: 150px;
  height: 50px;
  background-color: white;
  margin: 20px;
  color: #568fa6;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.bstn button:before, .bstn button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #44d8a4;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.bstn button:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.bstn button:after {
  left: 0;
  bottom: 0;
}

.bstn button span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.bstn button span:before, .bstn button span:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #44d8a4;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.bstn button span:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.bstn button span:after {
  left: 0;
  bottom: 0;
}

.bstn button p {
  padding: 0;
  margin: 0;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  position: absolute;
  width: 100%;
  height: 100%;
}

.bstn button p:before, .bstn button p:after {
  position: absolute;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  z-index: 1;
  left: 0;
}

.bstn button p:before {
  content: attr(data-title);
  top: 50%;
  transform: translateY(-50%);
}

.bstn button p:after {
  content: attr(data-text);
  top: 150%;
  color: #44d8a4;
}

.bstn button:hover:before, .bstn button:hover:after {
  width: 100%;
}

.bstn button:hover span {
  z-index: 1;
}

.bstn button:hover span:before, .bstn button:hover span:after {
  height: 100%;
}

.bstn button:hover p:before {
  top: -50%;
  transform: rotate(5deg);
}

.bstn button:hover p:after {
  top: 50%;
  transform: translateY(-50%);
}

.bstn button.start {
  background-color: #44d8a4;
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.bstn button.start p:before {
  top: -50%;
  transform: rotate(5deg);
}

.bstn button.start p:after {
  color: white;
  transition: all 0s ease;
  content: attr(data-start);
  top: 50%;
  transform: translateY(-50%);
  animation: start 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes start {
  from {
    top: -50%;
  }
}

.bstn button.start:hover:before, .bstn button.start:hover:after {
  display: none;
}

.bstn button.start:hover span {
  display: none;
}

.bstn button:active {
  outline: none;
  border: none;
}

.bstn button:focus {
  outline: 0;
}
.flx{
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet{
  background-color: white !important;
}